<ion-view view-title="Novedades">
  <ion-content>
    <div class="card" ng-repeat="producto in novedades">
      <div class="item  item-avatar">
        <img src="{{producto.imgprod}}">
        <a style="text-decoration: none; color: black;" href="#/app/newsdetail/{{producto.codigo}}">{{producto.titulo}}</a>
        <p>{{producto.descripcion}}</p>
        <i class="item item-icon-right dark " ng-click="shopping(producto.codigo);">
          <i class="icon ion-ios-cart"></i>
        </i>
      </div>
    </div>
  </ion-content>
</ion-view>
